.restaurant-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 9%;
}

.restaurant-detail-image {
  margin-top: 10px;
  height: 280px;
  width: 445px;
  border-radius: 8px;
  margin-right: 30px;
}
.restaurant-details-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}
.restaurant-details-cuisine {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.location {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.details-container {
  display: flex;
  flex-direction: row;
}

.vertical-line {
  margin-top: 35px;
  width: 50px;
  height: 0px;
  border: 1px solid #e2e8f0;
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.rating-star {
  color: #ffffff;
  margin-right: 5px;
}
.ratings {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.ratings-count {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #e2e8f0;
}
.cost {
  color: #ffffff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.cost-for-two {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #e2e8f0;
}

@media screen and (max-width: 768px) {
  .restaurant-details-container {
    max-height: 250px;
    padding-left: 0px;
  }

  .restaurant-detail-image {
    height: 221px;
    width: 221px;
    left: -68px;
    top: -54px;
    border-radius: 133.9812469482422px;
  }
  .restaurant-details-heading {
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
  }
  .restaurant-details-cuisine {
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
  }
  .location {
    font-weight: normal;
    font-size: 12px;
  }
  .rating-star {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }
  .cost {
    font-size: 12px;
    line-height: 16px;
  }
}

.food-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-item-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
